html[lang="en"] {
    .what-we-offer {
        .content {
            .items {
                .box {
                    h4 {
                        font-size: clamp(15px, 4vw, 17px);
                    }

                    p {
                        font-size: clamp(14px, 4vw, 15px);
                        line-height: 1.7;
                    }
                }
            }
        }
    }
}

.what-we-offer {
    margin-top: 100px;

    .content {
        padding-top: 60px;
        padding-bottom: 90px;
        background-color: var(--main_color);

        h2 {
            color: #FFF;
            text-align: center;
            font-size: clamp(20px, 4vw, 32px);
            margin-bottom: 40px;
        }

        .items {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 20px;

            .box {
                background-color: #FFF;
                text-align: center;
                padding: 25px 15px;
                border-radius: 10px;
                box-shadow: 0 0 10px 0 #0000005e;
                display: flex;
                flex-direction: column;

                h4 {
                    font-size: clamp(17px, 4vw, 19px);
                    margin-bottom: 12px;
                }

                p {
                    font-size: clamp(15px, 4vw, 17px);
                    line-height: 1.6;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .what-we-offer {
        .content {
            h2 {
                margin-bottom: 25px;
            }

            .items {
                width: 90%;
                margin-inline: auto;

                .box {
                    h4 {
                        margin-bottom: 7px;
                    }
                }
            }
        }
    }
}