.idea-teachawy {
    margin-top: 100px;

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(2, 1fr));
        gap: 35px;

        .box {
            text-align: center;
            border-radius: 15px;
            box-shadow: 0 0 10px 0 #8888883b;
            padding: 30px 15px;

            h3 {
                font-size: clamp(18px, 4vw, 23px);
                margin-bottom: 12px;
                color: var(--main_color);
            }

            p {
                font-size: clamp(16px, 4vw, 18px);
                line-height: 1.7;
            }
        }
    }
}

@media (max-width: 767px) {
    .idea-teachawy {
        .container {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}