html[lang="en"] {

    *,
    input,
    button,
    textarea,
    select {
        font-family: var(--font-en);
    }

    direction: ltr;
}

html[lang="ar"] {

    *,
    input,
    button,
    textarea,
    select {
        font-family: var(--font-ar);
    }

    direction: rtl;
}

:root {
    --main_color: #2463EB;
    --secondary_color: #83A5F0;
    --main_bg: #f1f1f19c;
}

*,
input,
button,
textarea,
select {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    text-decoration: none;
}

body {
    background-color: var(--main_bg);
}

body,
a {
    color: #3F3F3F;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main_color);
}

::-webkit-scrollbar-track {
    background-color: #FFF;
}

.container {
    margin-inline: auto;
    padding-inline: 20px;
    width: 100%;
    max-width: 1300px;

    @media (max-width: 1200px) {
        max-width: 1140px;
    }

    @media (max-width: 992px) {
        max-width: 960px;
    }

    @media (max-width: 768px) {
        max-width: 720px;
    }

    @media (max-width: 576px) {
        max-width: 100%;
    }
}

@media (max-width : 991px) {
    * {
        cursor: none !important;
    }
}

.loading-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #f1f1f1;
}

.spinner {
    width: 70px;
    height: 70px;
    border: 4px solid #eee;
    border-top: 4px solid #2563eb;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}