.main_slider {
    width: 100%;
    height: 100%;
    background-image: url("/images/bg-slider.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;

    .mySwiper {
        width: 300px;
        height: 400px;
        overflow: hidden;

        .swiper-pagination {
            bottom: 15px;

            .swiper-pagination-bullet {
                width: 12px;
                height: 12px;
                background-color: #FFF;
                opacity: 0.5;
            }

            .swiper-pagination-bullet-active {
                background-color: var(--main_color) !important;
                opacity: 1 !important;
            }
        }

    }

    img {
        object-fit: contain;
    }
}

@media (max-width: 767px) {
    .main_slider {
        .mySwiper {
            width: 250px;
            height: 350px;

            .swiper-pagination {
                bottom: 30px;
            }
        }
    }
}