.how-it-works {
    .head-page {
        h3 {
            font-size: clamp(18px, 4vw, 27px);
        }
    }

    .steps {
        padding-block: 60px;

        .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            .item {
                background-color: #FFF;
                padding: 20px 25px;
                border-radius: 10px;
                box-shadow: 0 0 10px 0 #94949436;

                .image {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    width: 100%;
                    height: 150px;
                    margin-bottom: 25px;
                }

                h3 {
                    color: var(--main_color);
                    margin-bottom: 10px;
                    font-size: clamp(17px, 4vw, 18px);
                    line-height: 1.6;
                }

                p {
                    font-size: clamp(14px, 4vw, 16px);
                    line-height: 1.7;
                }
            }
        }
    }

    .cta-page {
        padding-block: 50px;
        position: relative;
        background-color: #FFF;

        &::before,
        &::after {
            content: "";
            position: absolute;
            height: 20px;
            width: 100%;
            left: 0;
            background: url("/images/rip.svg") bottom;
            background-size: 25%;
        }

        &::before {
            top: 100%;
        }

        &::after {
            bottom: 100%;
            transform: rotate(180deg);
        }

        .container {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 20px;

            h2 {
                font-size: clamp(20px, 4vw, 27px);
                color: var(--main_color);
                line-height: 1.6;
            }

            p {
                max-width: 650px;
                width: 100%;
                margin-inline: auto;
                line-height: 1.7;
                font-size: clamp(18px, 4vw, 20px);
                margin-bottom: 10px;
            }

            a {
                display: block;
                width: 120px;
                margin-inline: auto;
                background-color: var(--main_color);
                color: #FFF;
                padding-block: 10px;
                font-size: 17px;
                border-radius: 10px;
            }
        }
    }
}

@media (max-width: 767px) {
    .how-it-works {
        .steps {
            .container {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}