html[lang="en"] {
    .statistics {
        .container {
            .box {
                p {
                    font-size: 15px;
                }
            }
        }
    }
}

.statistics {
    padding: 85px 0 70px 0;
    background-color: #FFF;
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        height: 20px;
        width: 100%;
        left: 0;
        background: url("/images/rip.svg") bottom;
        background-size: 45%;
    }

    &::before {
        top: 100%;
    }

    &::after {
        bottom: 100%;
        transform: rotate(180deg);
    }

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 25px;

        .box {
            box-shadow: rgba(91, 91, 91, 0.19) 0px 0px 10px;
            text-align: center;
            padding: 25px;
            border-radius: 10px;

            svg {
                color: var(--main_color);
            }

            h3 {
                margin-block: 9px;
                line-height: 1.6;
            }

            p {
                line-height: 1.6;
                margin-top: auto;
            }
        }
    }
}

@media (max-width: 767px) {
    .statistics {
        padding-block: 50px;

        &::before,
        &::after {
            background-size: 100%;
        }
    }
}