.footer {
    background-color: var(--secondary_color);
    color: #FFF;
    padding-top: 50px;

    .container {
        .row {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            border-bottom: 1px solid #FFF;
            padding-bottom: 30px;

            .col:first-of-type {
                .logo {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-bottom: 20px;
                }

                .social {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 15px;
                    margin-inline-start: 15px;
                }
            }

            .col {
                h3 {
                    margin-bottom: 15px;
                    font-size: clamp(18px, 4vw, 22px);
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    a {
                        color: #FFF;
                        font-size: clamp(16px, 4vw, 18px);
                    }
                }
            }

            .col:last-of-type {
                p {
                    font-size: clamp(16px, 4vw, 18px);
                    line-height: 1.6;
                    margin-bottom: 15px;
                }

                form {
                    display: flex;
                    align-items: center;
                    background-color: #FFF;
                    padding: 10px 13px;
                    border-radius: 10px;

                    input {
                        background-color: transparent;
                        border: none;
                        width: 100%;
                        font-size: 16px;
                    }

                    button {
                        border: none;
                        background-color: var(--main_color);
                        color: #FFF;
                        padding: 5px 10px;
                        font-size: 16px;
                        border-radius: 10px;
                    }
                }
            }
        }

        .copyright {
            padding-block: 30px;
            text-align: center;
            font-size: clamp(18px, 4vw, 20px);
        }
    }
}

@media (max-width: 767px) {
    .footer {
        .container {
            .row {
                text-align: center;
                gap: 30px;

                .col:first-of-type {

                    .logo,
                    .social {
                        justify-content: center;
                    }

                    .logo {
                        margin-bottom: 7px;
                    }

                    .social {
                        margin: 0;
                    }
                }
            }
        }
    }
}