.reviews {
    margin-top: 100px;
    background-color: #FFF;
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        height: 20px;
        width: 100%;
        left: 0;
        background: url("/images/rip.svg") bottom;
        background-size: 45%;
    }

    &::before {
        top: 100%;
    }

    &::after {
        bottom: 100%;
        transform: rotate(180deg);
    }

    .container {
        padding-block: 50px;

        h2 {
            text-align: center;
            font-size: clamp(22px, 4vw, 26px);
            margin-bottom: 30px;
        }

        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            >div {
                width: calc(100% / 2 - 10px);
            }
        }
    }
}

@media (max-width: 767px) {
    .reviews {
        margin-top: 60px;

        &::before,
        &::after {
            background-size: 100%;
        }

        .container {
            .content {
                .image {
                    display: none !important;
                }

                .slider-reviews {
                    width: 100%;
                }
            }
        }
    }
}