.reviews-slider {
    .mySwiper {
        height: 270px;

        .swiper-slide {
            display: flex;
            align-items: center;
            width: 85%;

            .box {
                text-align: center;

                h3 {
                    font-size: clamp(19px, 4vw, 27px);
                    margin-bottom: 15px;
                }

                p {
                    font-size: clamp(16px, 4vw, 20px);
                    line-height: 1.8;
                    margin-bottom: 15px;
                }

                span {
                    font-size: clamp(16px, 4vw, 19px);
                    font-weight: 500;
                    border-bottom: 2px solid var(--main_color);
                    padding-bottom: 4px;
                }
            }
        }

        .swiper-pagination {
            inset-inline-end: 0 !important;
            left: auto;
            right: auto;

            .swiper-pagination-bullet {
                width: 40px;
                height: 40px;
            }
        }
    }
}

@media (max-width: 767px) {
    .reviews-slider {
        .swiper-slide {
            width: 80% !important;
        }
    }
}